@model IEnumerable<Propietaria.Models.Users>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Agregar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Telefono
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provincia)
        </th>
        <th>
            Tipo de Documento
        </th>
        <th>
            Numero de Documento
        </th>
        <th>
           País
        </th>
        <th>
            Estado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provincia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdentificationType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdentificationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserStatus.Description)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdUser }) |
            @Html.ActionLink("Ver", "Details", new { id=item.IdUser }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdUser })
        </td>
    </tr>
}

</table>
