<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/dashboard.css" rel="stylesheet">
</head>
<body>
    <!--<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Quejas y Reclamaciones", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Isaí Vargas</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false) -->

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand font-weight-bold font-italic">
                    @Html.ActionLink("Quejas y Reclamos", "Index", "Home")
                </li>
                <li></li>
                <li>@Html.ActionLink("Clientes", "Index", "Clients")</li>
                <li>@Html.ActionLink("Empleados", "Index", "Employees")</li>
                <li>@Html.ActionLink("Estados de Usuario", "Index", "UserStatus")</li>
                <li>@Html.ActionLink("Departamentos", "Index", "Departments")</li>
                <li>@Html.ActionLink("Productos", "Index", "Products")</li>
                <li>@Html.ActionLink("Tipos de Queja", "Index", "ComplaintTypes")</li>
                <li>@Html.ActionLink("Tipos de Reclamo", "Index", "ReclaimTypes")</li>
                <li>@Html.ActionLink("Estados de Quejas y Reclamos", "Index", "ReclaimsAndComplaintsStatus")</li>
                <li>@Html.ActionLink("Cerrar Sesión", "Logoff", "Login")</li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Isaí Vargas</p>
                </footer>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
</body>
</html>
